* {
  font-family: "Lato", sans-serif;
}
h2,
h6 {
  font-weight: 700;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  background-color: #e55473;
  color: #fff;
  font-size: 20px;
  border: 0;
  padding: 20px 40px;
  border-radius: 8px;
}

/* header */
header {
  background: #e554731a;
}
nav {
  padding: 50px 240px 0px 240px;
}
header .nav-flex {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}
header nav .nav-image {
  width: 100%;
}
header nav .nav-contents {
  text-align: left;
}
header nav .nav-contents > h2 {
  color: #272727;
  font-size: 80px;
}
header nav .nav-contents > p {
  color: #272727;
  font-size: 18px;
  font-weight: 400;
}
/* our future flowers section */
.featured-flowers {
  margin-top: 150px;
}
.featured-flowers-captions {
  text-align: center;
  margin-bottom: 50px;
}
.featured-flowers-captions > h2 {
  color: #272727;
  font-size: 40px;
}
.featured-flowers-captions > p {
  color: #272727;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.flowers-discripction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flowers-discripction .img-1 {
  border-radius: 300px 300px 0px 0px;
  background: #a7216226;
  /* padding: 170px 70px 0px 70px; */
  width: 364px;
  height: 438px;
  padding-top: 50px;
}
.flowers-discripction .img-2 {
  border-radius: 300px 300px 0px 0px;
  background: #a7216226;
  /* padding: 117px 47px 51px 47px; */
  width: 364px;
  height: 438px;
  padding-top: 50px;
}
.flowers-discripction .img-3 {
  border-radius: 300px 300px 0px 0px;
  background: #a7216226;
  /* padding: 176px 74px 0px 76px; */
  width: 364px;
  height: 438px;
  padding-top: 50px;
}
.flowers-discripction .pink-flower {
  color: #272727;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  text-decoration-line: underline;
}
/* hot-deal section */
.hot-deal {
  background: #e554730d;
  margin-top: 100px;
  padding: 100px 0;
}
.hot-deal .main-column {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hot-deal .main-column span {
  color: #e55473;
}
.hot-deal-contents {
  text-align: center;
}
.hot-deal-contents-heading {
  color: #272727;
  font-size: 40px;
}
.hot-deal-contents > p{
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* instagram section */
.instagram-section{
  margin-top: 110px;
}
.insta-captions{
  text-align: center;
  margin-bottom: 40px;
}
.insta-captions > h2{
  color: #272727;
  font-size: 40px;
}
.insta-captions > p{
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.insta-img{
  display: flex;
  justify-content: space-between
}